*,
*::before,
*::after {
  box-sizing: border-box;
}



@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

header {
  background-color: rgb(255, 80, 80);
  display: flex;
  size: 3vh;
  padding: 2% 5% 2% 5%;
  font-family: 'Quicksand', sans-serif;
}


header>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header>div>:last-child {
  justify-content: space-between;
  column-gap: 17px;
}

header>div>nav>img {
  size: 3%;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
}

nav>:first-child {
  color: black;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(0, 0, 0, 0.914);
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0% 8% 0% 8%;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.685);
  font-family: 'Quicksand', sans-serif;
  color: white
}

main>div>h2>p {
  width: 75%;
  align-items: flex-end;
  font-family: 'Quicksand', sans-serif;
  margin: 3vh;
  font-size: 160%;
  padding: none;
}

main>div>h2>p>p1 {
  width: 45%;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;
  font-size: 45%;
  margin: none;
}

button {
  display: flex;
  justify-content: center;
  width: 15rem;
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  color: white;
  padding: 7px 18px 7px 18px;
}